<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/javascripts/d3/d3.js" type="text/javascript"></script>
    <script src="/javascripts/d3/d3.geom.js" type="text/javascript"></script>
    <script src="/javascripts/d3/d3.layout.js" type="text/javascript"></script>
    <script src="/javascripts/CodeFlower.js" type="text/javascript"></script>
	<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
	<script src="/javascripts/graph.js" type="text/javascript"></script>
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
<div id="fb-root"></div>
<script>
	function statusChangeCallback(response) {
		if (response.status === 'connected') {
			onLoggedIn();
		} else if (response.status === 'not_authorized') {
			console.log('Please log into this app.')
			window.location = "/login"
		} else {
			console.log('Please log into Facebook.')
			window.location = "/login"
		}
	}

	function checkLoginState() {
		FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
		});
	}

	window.fbAsyncInit = function() {
		FB.init({
			appId      : '1059613384157964',
			cookie     : true,  // enable cookies to allow the server to access
								// the session
			xfbml      : true,  // parse social plugins on this page
			version    : 'v2.5' // use graph api version 2.5
		});

		FB.getLoginStatus(function(response) {
			statusChangeCallback(response);
		});
	};

	// Load the SDK asynchronously
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<script>
	function onLoggedIn() {
		FB.api('/me?fields=id,name,picture', function(response) {
			console.log(response);
			$('#fb-photo').attr('src', response.picture.data.url);
			$('#fb-status').text('Logged in as '+response.name);
		});
		var vertices = {};
		var edges = [];
		FB.api('/me/photos?fields=id,name_tags,picture', function(response) {
			for(photo in response.data){
				FB.api('/'+response.data[photo].id.toString()+'/tags', function(response){
//					console.log(response);
				});
			}
		});
		FB.api('/me?fields=feed{with_tags,id,message,type,likes,comments}', function(response){
			console.log(response);
			for(var i=0; i<response.feed.data.length; i++){
				// Only take statuses
				if(response.feed.data[i].type == "status"){
					var fid = 'f'+response.feed.data[i].id.toString();
					if(vertices[fid] == undefined || vertices[fid] == null){
						var content = {content: response.feed.data[i].message};
						vertices[fid] = content;
						edges.append({ids: ["me", fid], type: 's'})
					}
				}
			}
		})

	}
</script>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<h1 class="pull-left"><%= title %></h1>
		<div class="pull-right navbar-brand" style="padding-left: 50px;"><img id="fb-photo"></div>
		<h3 class="pull-right" id="fb-status"></h3>
	</div>
</nav>
<div class="outer">
	<div class="inner">
		Welcome to <%= title %>!
	</div>
</div>
<div id="graph"></div>

</body>
</html>
