#center {
    margin-left: auto;
    margin-right: auto;
    width: 472px;
    text-alignment: center;
}
#welcome-msg {
    font-weight: normal;
    padding-top: 48px;
    font-size: 46px;
    margin: 0;
}
#signin-msg {
    font-size: 24px;
    color: #aaa;
    padding-bottom: 12px;
}
#login-button {
    margin-left: auto;
    margin-right: auto;
    width: 123px;
    height: 39px;
    margin-bottom: 48px;
}