body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.outer{
  width: 100%;
  text-align: center;
}

.inner{
  padding-top: 5%;
  display: block;
}